# This workflow use pylint:
#  - Install Python dependencies.
#  - Run pylint for each of the supported Python versions.
# Pylint will only fail without fixing any of the errors or warnings.

name: Pylint & Mypy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies.
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirement.txt
        python -m pip install -r tests/test-requirement.txt
    - name: Running Black.
      uses: psf/black@stable
      with:
        options: "--check"
    - name: Running linter.
      run: |
        pylint --rcfile=.pylintrc --ignore=tests/ agent/
        pylint --rcfile=.pylintrc -d C0103,W0613 tests/